# Prerequisites
*.d
*.D

# Object files
*.o
*.rom
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Amiga files
*.adf

# Debug files
.gdb_history
*.dSYM/
*.su
*.idb
*.pdb

# Source index files
tags
etags
cscope.out

# Python files
__pycache__

# Backup files
*.orig
*~

# Quilt files
.pc
